.title{
  text-align: center;
}

.topnav ul{
list-style-type: none;
overflow: hidden;

}

.topnav ul li {
  float: left;
}

.topnav ul li{
  float: left;
  margin-right: 0.5em;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
