.title {
  text-align: center;
}

.topnav ul {
  list-style-type: none;
  overflow: hidden;
}

.topnav ul li {
  float: left;
}

.topnav ul li {
  float: left;
  margin-right: 0.5em;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.head_img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 15rem;
  display: block;
  /*filter: blur(0.2rem);*/
}

.Shadow {
  -webkit-box-shadow: 0 8px 6px -5px black;
  	   -moz-box-shadow: 0 8px 6px -5px black;
  	        box-shadow: 0 8px 6px -5px black;
}

.article_1 {

position: relative;
text-align: center;

}
.art_1_img {
filter: brightness(50%);
}
.art_2_img {
filter: brightness(50%);
}
.art_3_img {
filter: brightness(50%);
}
.center {
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

.article_2 {

  position: relative;
text-align: center;

}

.article_3 {

  position: relative;
text-align: center;

}
.column {
  float: left;
  width: 33.33%;
  padding: 10rem;
  padding-top: 10rem;
}

/* Clear floats after image containers */
.row::after {

  clear: both;
  display: table;
}

.art_3_img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 198%;
  height: 35rem;
  display: block;
  padding-left: 11rem;

  /*filter: blur(0.2rem);*/
}
.center3 {
position: absolute;
top: 70%;
left: 120%;
transform: translate(-60%, -60%);
color: white;
}

.content3 p{
  width: 35rem;
  word-wrap: break-word;

}
